 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/769f2f65a68e1d9b139c028e1a0c546f9059cc2d8f5e31b2f3c20b97115a3a1d31006307d3c8975559d446dacf61efebbf7c348db83060ad9ac0b2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: "Bai Jamjuree";
  margin: 0 90px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 90px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 300;
  margin: 0 2px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  margin: 90px auto 0 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 954px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-2 .u-image-1 {
  width: 550px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 45px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 570px;
  margin: -526px 0 45px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 526px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 71px;
  width: 71px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-image-1 {
    width: 450px;
    object-position: 41.45% 50%;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 470px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    object-position: 68.22% 50%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 48px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1288px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-2 .u-image-1 {
    height: 264px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 760px;
    grid-gap: 20px 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-3 .u-shape-1 {
  width: 643px;
  background-image: linear-gradient(#e84a90, #e84a90);
  height: 945px;
  margin: 25px auto 0 201px;
}

.u-section-3 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px 10px;
  margin: -920px auto 0 46px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-group-1 {
  width: 470px;
  min-height: 481px;
  background-image: none;
  height: auto;
  margin: -79px 0 19px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 28px auto 0 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -87px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-3 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -1296px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-group-1 {
    margin-top: -121px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2979px;
  }

  .u-section-3 .u-shape-1 {
    width: 402px;
    height: 2745px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2680px;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-group-1 {
    width: 425px;
    margin-top: -140px;
    margin-right: 0;
    margin-bottom: 39px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2416px;
  }

  .u-section-3 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-3 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2136px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 305px;
    margin-top: 60px;
    margin-bottom: 37px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 602px;
}

.u-section-4 .u-image-1 {
  height: 433px;
  width: 770px;
  margin: 86px auto 0 0;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#e84a90, #545af8);
  margin: -499px 266px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 385px;
  min-height: 395px;
  height: auto;
  margin: -124px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-image-1 {
    height: 389px;
    width: 506px;
    margin-top: 175px;
  }

  .u-section-4 .u-shape-1 {
    width: 211px;
    height: 211px;
    margin-top: -494px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -125px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-4 .u-image-1 {
    height: 402px;
    width: 523px;
    margin-top: 68px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -38px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 374px;
    margin-top: -127px;
    margin-bottom: 46px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-4 .u-image-1 {
    height: 344px;
    width: 487px;
    margin-top: 55px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -49px;
    margin-left: 59px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -126px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-4 .u-image-1 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    width: 143px;
    height: 143px;
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 279px;
    min-height: 448px;
    margin-top: -79px;
    margin-bottom: 28px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 910px;
}

.u-section-5 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 403px;
  width: 1014px;
  background-image: linear-gradient(#545af8, #e84a90);
  margin: 46px 0 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 757px;
  height: 452px;
  margin: -197px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1018px;
  margin: -614px auto 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 703px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 598px;
  width: 635px;
  margin: 0 auto 0 -61px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 544px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: normal;
  line-height: 32px;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 10px 31px 11px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-5 .u-shape-1 {
    width: 798px;
  }

  .u-section-5 .u-shape-2 {
    width: 689px;
    height: 446px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 850px;
    margin-top: -608px;
    margin-bottom: 108px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-5 .u-image-1 {
    height: 516px;
    width: 548px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-5 .u-shape-1 {
    height: 378px;
    width: 634px;
    margin-top: 76px;
  }

  .u-section-5 .u-shape-2 {
    width: 590px;
    height: 490px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 664px;
    margin-top: -652px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 929px;
  }

  .u-section-5 .u-image-1 {
    height: 395px;
    width: 420px;
    margin-top: 267px;
    margin-left: -49px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 25px 18px 25px 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 482px;
  }

  .u-section-5 .u-shape-1 {
    height: 595px;
    width: 418px;
    margin-top: 46px;
  }

  .u-section-5 .u-shape-2 {
    height: 579px;
    width: 408px;
    margin-top: -455px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -461px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-5 .u-image-1 {
    height: 433px;
    width: 487px;
    margin-top: -18px;
    margin-bottom: -33px;
    margin-left: 11px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 915px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 50px 30px 49px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-5 .u-shape-1 {
    height: 558px;
    width: 280px;
  }

  .u-section-5 .u-shape-2 {
    width: 256px;
    height: 607px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-5 .u-image-1 {
    height: 302px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 994px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 28px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1018px;
  margin: 78px auto 19px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 703px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 521px;
  width: 679px;
  margin: 111px auto 0 -94px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 703px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: normal;
  line-height: 32px;
  margin: 33px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  background-image: none;
  margin: 27px auto 0 0;
  padding: 10px 31px 11px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-6 .u-image-1 {
    height: 337px;
    width: 439px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 669px;
    margin-top: 19px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 821px;
  }

  .u-section-6 .u-image-1 {
    height: 303px;
    width: 395px;
    margin-top: 244px;
    margin-left: -41px;
    margin-right: -41px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 790px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 25px 18px 24px 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 59px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 50px 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-6 .u-image-1 {
    height: 261px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 568px;
}

.u-section-7 .u-shape-1 {
  height: 230px;
  margin-top: 150px;
  margin-bottom: 0;
  background-image: linear-gradient(#545af8, #e84a90);
}

.u-section-7 .u-group-1 {
  min-height: 481px;
  width: 965px;
  height: auto;
  margin: -327px auto 35px;
}

.u-section-7 .u-container-layout-1 {
  padding: 14px 46px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 83px 570px 0 14px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 21px 35px 0 14px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 558px;
    margin-left: 2px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 22px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 504px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 19px;
    margin-right: 372px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 656px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 106px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    min-height: 597px;
    margin-bottom: 50px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 33px;
    margin-right: 232px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 19px;
    margin-right: 71px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 468px;
}

.u-section-8 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  margin: 104px 0 55px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 648px;
}

.u-section-8 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-8 .u-image-1 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 19px 0;
}

.u-section-8 .u-image-2 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 19px 0;
}

.u-section-8 .u-image-3 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 19px 0;
}

.u-section-8 .u-image-4 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 19px 0;
}

.u-section-8 .u-image-5 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 19px 0;
}

.u-section-8 .u-image-6 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-7 {
  padding: 19px 0;
}

.u-section-8 .u-image-7 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-8 {
  padding: 19px 0;
}

.u-section-8 .u-image-8 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-9 {
  padding: 19px 0;
}

.u-section-8 .u-image-9 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-10 {
  padding: 19px 0;
}

.u-section-8 .u-image-10 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-11 {
  padding: 19px 0;
}

.u-section-8 .u-image-11 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

.u-section-8 .u-container-layout-12 {
  padding: 19px 0;
}

.u-section-8 .u-image-12 {
  width: 236px;
  height: 215px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1657px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    min-height: 1104px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-1 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-2 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-3 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-4 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-5 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-6 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-7 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-8 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-9 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-10 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-11 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-8 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-12 {
    width: 141px;
    margin-top: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 669px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  line-height: 32px;
  margin: 26px 22px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1036px;
  }
}